/**
 * Blog Post Widget - Editor styles
 */
.wp-block-codeweber-blocks-blog-post-widget {
	.blog-post-widget-editor-placeholder {
		padding: 0.5rem 0;
	}
	.description {
		margin-bottom: 1rem;
		font-size: 13px;
		color: #1e1e1e;
	}
}
