/* Editor стили для блока Button */

/* Исправляем ширину кнопки в редакторе (wp-block по умолчанию width: 100%) */
.block-editor-block-list__layout .wp-block.wp-block-codeweber-blocks-button,
.editor-styles-wrapper .block-editor-block-list__layout .wp-block-codeweber-blocks-button,
a.block-editor-block-list__block.wp-block.wp-block-codeweber-blocks-button,
a.wp-block.wp-block-codeweber-blocks-button.btn {
	width: auto !important;
	max-width: 100% !important;
	display: inline-block !important;
}

/* Еще более специфичный селектор */
.block-editor-block-list__layout > .wp-block-codeweber-blocks-button.wp-block {
	width: auto !important;
}

/* Добавляем нижний отступ к группе кнопок */
.components-button-group {
	margin-bottom: 16px !important;
}

.icon-group {
	border: 1px solid #777;
	padding: 20px;
}

.button-group-sidebar_33 button.components-button {
	border: 1px solid #007cba;
	width: 33%;
	justify-content: center;
}

.button-group-sidebar_50 button.components-button {
	border: 1px solid #007cba;
	width: 50%;
	justify-content: center;
}

.button-group-sidebar_100 button.components-button {
	border: 1px solid #007cba;
	width: 100%;
	justify-content: center;
}

.button-group-sidebar_33,
.button-group-sidebar_50,
.button-group-sidebar_100 {
	margin-bottom: 20px;
}

.component-sidebar-title {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	margin-bottom: 8px;
}

