.cwgb-yandex-map-v3-block {
	position: relative;
	width: 100%;
}

.cwgb-map-v3-marker {
	width: 14px;
	height: 14px;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
