/**
 * Lists Block - Frontend Styles
 *
 * @package CodeWeber Gutenberg Blocks
 * 
 * NOTE: Frontend styles are handled by theme's typography styles
 * This file is kept empty to ensure theme styles are used.
 * 
 * The block uses standard list classes that are styled by the theme:
 * - .unordered-list
 * - .icon-list
 * - .bullet-{color}
 * - .bullet-bg
 * - .bullet-soft-{color}
 * 
 * Theme file: wp-content/themes/codeweber/src/assets/scss/_user.scss
 */

// Frontend styles are provided by theme





