/**
 * Divider Block - Editor Styles
 *
 * @package CodeWeber Gutenberg Blocks
 */

.cwgb-divider-block {
	// В редакторе показываем границу для удобства
	&.is-selected,
	&:hover {
		outline: 1px dashed rgba(0, 124, 186, 0.3);
		outline-offset: 4px;
	}

	// Wave preview
	.overflow-hidden {
		.divider {
			svg {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}

}










