/**
 * Divider Block - Frontend Styles
 *
 * @package CodeWeber Gutenberg Blocks
 * 
 * Note: Styles for hr, hr.double, .divider-icon, and .divider-text 
 * are defined in theme Codeweber (_reboot.scss)
 */

.cwgb-divider-block {
	// Wave divider (specific to block)
	.divider {
		svg {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}
