/**
 * Divider Block - Frontend Styles
 *
 * @package CodeWeber Gutenberg Blocks
 */

.cwgb-divider-block {
	// Border styles
	hr {
		border: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		margin: 0;

		&.double {
			border-top: 3px double rgba(0, 0, 0, 0.1);
		}
	}

	// Icon divider
	.divider-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&::before,
		&::after {
			content: '';
			flex: 1;
			height: 1px;
			background: rgba(0, 0, 0, 0.1);
		}

		&::before {
			margin-right: 1rem;
		}

		&::after {
			margin-left: 1rem;
		}

		i {
			font-size: 1.5rem;
			color: rgba(0, 0, 0, 0.3);
		}
	}

	// Text divider styles are in theme Codeweber (_reboot.scss)

	// Wave divider
	.divider {
		svg {
			display: block;
			width: 100%;
			height: auto;
		}
	}

}












