/**
 * Search Block - Editor Styles
 *
 * @package CodeWeber Gutenberg Blocks
 */

.cwgb-search-block {
	.nav-link {
		cursor: default;
	}
	.dropdown-toggle::after {
		display: none !important;
	}
	// In editor show only the icon (dropdown opens on frontend)
	&.dropdown .dropdown-menu {
		display: none !important;
	}
}
