/**
 * Card Block - Editor Styles
 *
 * @package CodeWeber Gutenberg Blocks
 */

.wp-block-codeweber-blocks-card {
	/* Минимальная высота для пустого card */
	&.card {
		min-height: 100px;
		
		.card-body {
			min-height: 80px;
		}
	}
	
	/* Визуализация InnerBlocks */
	.block-editor-inner-blocks {
		min-height: 50px;
	}
	
	/* Визуализация card-body в редакторе */
	&.card .card-body {
		position: relative;
		
		/* Показать границы card-body в редакторе */
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 1px dashed rgba(0, 0, 0, 0.1);
			pointer-events: none;
			border-radius: inherit;
		}
	}
	
	/* Стили для пустого состояния */
	.block-editor-inner-blocks > .block-editor-block-list__layout.is-root-container:empty:after {
		content: 'Add content to card...';
		display: block;
		text-align: center;
		padding: 2rem;
		color: #999;
		font-size: 14px;
	}
}






