/**
 * Global Editor Styles for Codeweber Gutenberg Blocks
 * Стили редактора, применяемые ко всем блокам плагина
 */

/* Стили для табов во всех блоках плагина */
.components-tab-panel__tabs-item {
    padding: 3px 9px !important;
}

