/**
 * Tabs Block - Frontend Styles
 *
 * @package CodeWeber Gutenberg Blocks
 *
 * Note: Frontend styles are provided by the theme's SCSS files.
 * This file is kept empty as styles are expected from:
 * - theme/src/assets/scss/theme/_nav.scss
 * - theme/src/assets/scss/_user.scss
 */
