/**
 * Code Block - Frontend Styles
 * Theme provides .code-wrapper, .code-wrapper-inner, .btn-clipboard styles
 *
 * @package CodeWeber Gutenberg Blocks
 */

.wp-block-codeweber-blocks-code {
	// Block wrapper; theme handles inner code layout
}
