/**
 * Feature Block - Frontend Styles
 *
 * @package CodeWeber Gutenberg Blocks
 */

/* Frontend-specific styles */
.wp-block-codeweber-blocks-feature {
	/* Background image styles */
	&.bg-image {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	
	/* Background overlay */
	&.bg-overlay {
		position: relative;
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, var(--overlay-opacity, 0.5));
			border-radius: inherit;
			pointer-events: none;
		}
		
		> .card-body {
			position: relative;
			z-index: 1;
		}
	}
	
	/* Горизонтальный layout на фронтенде - используем классы темы */
	&.d-flex.flex-row {
		/* Тема сама применит display: flex; flex-direction: row; */
	}
}

