// Editor styles for Image Simple block

.cwgb-image-simple-block {
	position: relative;
	
	// Placeholder когда нет изображений
	.cwgb-image-placeholder {
		display: block;
		max-width: 100%;
		
		.placeholder-image {
			display: block;
			width: 100%;
			height: auto;
			opacity: 0.7;
		}
	}

	// Swiper в редакторе - предотвращаем блокировку кликов
	.swiper-container {
		.swiper-button,
		.swiper-button-next,
		.swiper-button-prev,
		.swiper-pagination,
		.swiper-controls {
			pointer-events: none !important;
			z-index: 1 !important;
		}

		// При fade эффекте разрешаем клики на слайды
		.swiper-slide {
			pointer-events: auto !important;
		}

		// Разрешаем клики на контейнер для выделения блока
		pointer-events: auto !important;
	}
}

// Стили для выделенного блока в редакторе
.block-editor-block-list__block.is-selected > .block-editor-block-list__block-edit > [data-block] > .cwgb-image-simple-block,
.block-editor-block-list__block.is-hovered > .block-editor-block-list__block-edit > [data-block] > .cwgb-image-simple-block {
	// Outline обводка при выделении
	outline: 1px solid var(--wp-admin-theme-color, #007cba);
	outline-offset: -1px;
}

// Отключаем pointer events для изображений в редакторе
.editor-styles-wrapper {
	.cwgb-image-simple-block {
		figure {
			a {
				cursor: default;
				pointer-events: none;
			}
		}
	}
}

// Переопределяем margin-left и margin-right с auto на 0 для wp-block в редакторе
.editor-styles-wrapper :where(:not(.is-layout-flex,.is-layout-grid))>.wp-block {
	margin-left: 0;
	margin-right: 0;
}



