/**
 * Menu Block - Frontend Styles
 *
 * @package CodeWeber Gutenberg Blocks
 */

// Dark/Light theme support
.menu-dark {
	a {
		color: #fff !important;
		
		&:hover {
			color: rgba(255, 255, 255, 0.8) !important;
		}
	}
	
	.text-white {
		color: #fff !important;
	}
}

.menu-light {
	a {
		color: inherit;
	}
}
